@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:'Poppins', sans-serif;
    background: transparent;
    font-size: 20px;
    margin: 1em;
}

header{
    width: 90vw;
}

.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_container button{
    width: 2em;
    height: 2em;
}

.menu_products{
    background: var(--color-boxes);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 50vh;
    overflow-y: scroll;
}

.menu_products a{
    height: 2.5em;
    text-align: center;
    text-decoration: none;
    color: var(--black);
}

