<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Clase</title>
    <script type="module" src="js/main.js" defer></script>
    <link rel="stylesheet" href="../css/carrito.css">
</head>
<body>
    <header>
        <section class="header_container">
            <div>
                <p>Detalles</p>
            </div>
            <div>
                <button><a href="../index.html">X</a></button>
            </div>
        </section>
    </header>
    <main>
        <section class="products_list">

            <article>
                <div class="container_1">
                    <div class="container_1_img">
                        <img src="../storage/img/auriculares_1_main.jpg" alt="">
                    </div>
                    <div class="container_1_text">
                        <div>
                            <p>Auriculares</p>
                            <p>Cantidad: 3</p>
                        </div>
                        <div>
                            $89.98
                        </div>
                    </div>
                </div>
            </article>


            <article>
                <div class="container_1">
                    <div class="container_1_img">
                        <img src="../storage/img/auriculares_2_main.webp" alt="">
                    </div>
                    <div class="container_1_text">
                        <div>
                            <p>Auriculares</p>
                            <p>Cantidad: 4</p>
                        </div>
                        <div>
                            $99.98
                        </div>
                    </div>
                </div>
            </article>


            <article>
                <div class="container_1">
                    <div class="container_1_img">
                        <img src="../storage/img/auriculares_1_main.jpg" alt="">
                    </div>
                    <div class="container_1_text">
                        <div>
                            <p>Auriculares</p>
                            <p>Cantidad: 1</p>
                        </div>
                        <div>
                            $189.98
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <section class="boton_buy">
            <article>
                <div class="container_2">
                    <div class="container_2_img">
                        <p>Total</p>
                    </div>
                    <div class="container_2_text">
                        <p>$325.00</p>
                        <button>Pagar</button>
                    </div>
                </div>
            </article>  
        </section>
    </main>
</body>
</html>