<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Clase</title>
    <script type="module" src="js/main.js" defer></script>
    <link rel="stylesheet" href="../css/carrito.css">
</head>
<body>
    <header>
        <section class="header_container">
            <div>
            <button><a href="../views/products.html">X</a></button>
            </div>
            <div>
                <p>Auriculares</p>
            </div>
            <div>
                <button><a href="">X</a></button>
            </div>
        </section>
    </header>
    <main>
        <section class="products_list">

            <article>
                <div class="container_1">
                    <div class="container_1_img">
                        <img src="../storage/img/auriculares_1_main.jpg" alt="">
                    </div>
                    <div class="container_1_text">
                        <div>
                            <p>Auriculares</p>
                            <p>Cantidad: 3</p>
                        </div>
                        <div>
                            $89.98
                        </div>
                    </div>
                </div>
            </article>

        </section>
        <section class="boton_buy">

        </section>
    </main>
</body>
</html>