<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Clase</title>
    <script type="module" src="js/main.js" defer></script>
    <link rel="stylesheet" href="../css/products.css">
</head>
<body>
    <header>
        <section class="header_container">
            <div>
                <p>Menu</p>
            </div>
            <div>
                <button><a href="../index.html">X</a></button>
            </div>
        </section>
    </header>
    <main>
        <section class="menu_products">
           <a href="../index.html">Auriculares</a>
           <a href="">Mouse</a>
           <a href="">Teclados</a>
           <a href="">Pantallas</a>
           <a href="">Auriculares</a>
           <a href="">Mouse</a>
           <a href="">Teclados</a>
           <a href="">Pantallas</a>
           <a href="">Auriculares</a>
           <a href="">Mouse</a>
           <a href="">Teclados</a>
           <a href="">Pantallas</a>
        </section>
    </main>
</body>
</html>